# indeces in python jupyter

In [2]:
a = "pakora samosa"
a

'pakora samosa'

In [4]:
len(a)

13

In [5]:
a[0]

'p'

In [7]:
a[7]

's'

In [10]:
a[0:10]

'pakora sam'

In [13]:
a[-6:13]

'samosa'

In [14]:
# capitailize the strings

food = 'biryani'

In [16]:
len(food)

7

In [18]:
food.capitalize()

'Biryani'

In [20]:
food.upper()

'BIRYANI'

In [4]:
food = 'biryani'
food.replace('b','d')

'diryani'

In [8]:
# couin function in python

food = 'samosa pakora'
food.count("a")

4

## Basic datastructure in python

#### 1. Tuple 
#### 2. List
#### 3. Dictioneries
#### 4. Set

#### 1. Tuple

- order collection of elements
- enclosed in parathesis ()
- different kinds of elements can be stored
- one elements are stored and cannot be changes

In [14]:
tup1 = ('1',"python",'true','2.5')
tup1

type(tup1)

tuple

In [17]:
# indexing in tuple

tup1[2]
tup1[0]

'1'

In [21]:
tup1[0:4]

('1', 'python', 'true', '2.5')

In [23]:
# length of tuple

len(tup1)

4

In [26]:
# addition of tuples

tup2 = ('2',"hellow",'false','3.5')
tup2

('2', 'hellow', 'false', '3.5')

In [28]:
tup1+tup2

('1', 'python', 'true', '2.5', '2', 'hellow', 'false', '3.5')

In [30]:
min(tup1)

'1'

In [32]:
max(tup1)

'true'

---

## 2. Lists data structure in python
- ordered location of elements
- enclosed in [] brackets
- meatitaible can be change

In [38]:
list  = [2, "babar azam", False]
list

type(list)

list

In [40]:
len(list)

3

In [42]:
 # you can add list to another one 
list1 = [2, "babar azam", False]

list2 = [3,'34.5',"saddam",'false']

list1+list2

[2, 'babar azam', False, 3, '34.5', 'saddam', 'false']

In [44]:
# list can be multiplied 

list1*2

[2, 'babar azam', False, 2, 'babar azam', False]

In [46]:
# list can be reverse
list1.reverse()
list1

[2, 'babar azam', False]

In [48]:
list1*3

[2, 'babar azam', False, 2, 'babar azam', False, 2, 'babar azam', False]

### 3. Dectionaries in python datastructure
- an Un-ordered collection of elements
- only in braces and brackets
- key and values
- changing the values

In [51]:
# food and their prices

d1 = {"samosa":30, "pakora":100, "raita":20, "salad":50, "chicken_rose":30}
d1

{'samosa': 30, 'pakora': 100, 'raita': 20, 'salad': 50, 'chicken_rose': 30}

In [52]:
type(d1)

dict

In [53]:
# extract data and keys from the dictionary
d1.keys()

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken_rose'])

In [54]:
d1.values()

dict_values([30, 100, 20, 50, 30])

In [67]:
d1["shwarma"] = 199
d1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 50,
 'chicken_rose': 30,
 'shwarma': 199}

## 4. Sets
- un-ordered and un-index
- Curly  braces
- no duplicate allowed

In [68]:
s1 = {2, 5.6, "sadda,", "chilla"," mishta"}
s1

{' mishta', 2, 5.6, 'chilla', 'sadda,'}

In [70]:
s1.add("sir g eeee")
s1

{' mishta', 2, 5.6, 'chilla', 'sadda,', 'sir g eeee'}